/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.containersmall{
    width: 65%;
    margin: 0 auto;
}
body{
    min-width: 1200px;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.debug{
    border: 1px solid rgb(207 207 207)
}
/* utility */
/* btn color #0061ff
background color #b4d0e7 */

/* header */

/* nav */
header{
    line-height: 100px;
}
nav{
    width: 100%;
    padding-left: 50px;
    position: fixed;
    background-color: white;
    top: 0;
    min-width: 1200px;
    z-index: 1000;
}
.logo{
    display: inline-block;
}
.logo img{
    vertical-align: middle;
}
.left-side{
    display: inline-block;
    text-align: center;
    padding-left: 40px;
}
.left-side a{
    padding-right: 30px;
    color: black;
    text-decoration: none;
}
.right-side{
    float: right;
    text-align: center;
    padding-right: 40px;
}
.right-side a{
    padding-right: 30px;
    color: black;
    text-decoration: none;
}
.right-side a:nth-child(4){
    color: white;
}
.btn{
    background-color: #0061ff;
    text-align: center;
    padding: 7px 30px;
}

/* jumbo */
.jumbo{
    background-color: #b4d0e7;
    height: 780px;
    margin: 100px 0;
}
.text-jumbo h1{
    font-size: 89px;
    padding-top: 75px;
}
.p-jumbo{
    width: 35%;
    float: left;
    padding-top: 40px;
}
.jumboimg{
    width: 65%;
    float: right;
}
.p-jumbo a{
    color: black;
    text-decoration: none;
}
.p-jumbo span{
    font-size: 40px;
}
.reg{
    padding-bottom: 45px;
}
.jumboimg img{
    padding-top: 40px;
    max-width: 100%;
    margin-left: 20px;
}
.p-jumbo .btnuni a{
    color: white;
    text-decoration: none;
    background-color: #0061ff;
    padding: 10px 15px;
}
.p-jumbo .btnuni{
    margin-top: 40px;
    margin-bottom: 30px;
}
.p-jumbo p:last-child{
    margin-top: 20px;
}
/* main */
.ctext{
    font-size: 28px;
    padding-top: 120px;
}
/* radio */
.control {
    font-family: arial;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: undefinedpx;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control-radio .control_indicator:after {
    left: 6px;
    top: 6px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #ffffff;
    transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}.control-radio .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0.01;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-radio input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}
.control-group{
    padding-top: 50px;   
    padding-bottom: 25px;
}
.control{
    padding-right: 20px;
}
/* /radio */
/* section column */
.column {
    float: left;
    width: calc(100% / 3 - 60px);
    padding: 0 28px ;
    line-height: 45px;
    height: 1300px;
}
.column.center{
    margin: 0 90px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column h4{
    text-align: center;
    font-size: 15px;
}
.price{
    font-weight: bolder;
}
.border-bottom{
    width: 65px;
    border-bottom: 1px solid rgb(207 207 207);
    padding-top: 27px;
}
ul{
    list-style-type: none;
    padding-bottom: 34px;
}
.check ul{
    padding-left: -20px;
}
.check.recheck{
    padding-left: 20px;
}
.spazio{
    padding-bottom: 35px;
}
.column a{
    color: white;
    text-decoration: none;
}
a.blue{
    color: blue;
}
h5{
    font-size: 17px;
    padding-top: 50px;
}
.check li::before{
    content: "\2714";
    color: blue;
    padding-right: 7px;
    margin-left: -20px;
} 
.centeredcolumn h4{
    width: 100%;
    border-bottom: 1px solid rgb(207 207 207);
    text-align: center;
    font-size: 15px;
    padding-bottom: 8px;
}
.centeredcolumn{
    margin-top: 10px;
}
.centeredcolumn h2{
    padding-top: 25px;
    padding-left: 25px;
}
.centeredcolumn h5{
    padding-top: 20px;
    padding-left: 25px;
}
.centeredcolumn div{
    padding-top: 35px;
    padding-left: 25px;
    padding-bottom: 20px;
}
.centeredcolumn a{
    float: right;
    position: relative;
    bottom: 26px;
    right: 40px;
    color: white;
    text-decoration: none;
}
/* section guys */
.raw.debug{
    width: 65%;
    margin: 0 auto;
    margin-top: 70px;
}
.guys{
    width: 50%;
    float: left;
    padding-top: 150px;
    padding-bottom: 150px;
}
.right-text{
    width: 50%;
    float: right;
    padding-top: 210px;
    padding-left: 123px;
}
.guys img{
    width: 600px;
}
.right-text div{
    padding-top: 30px;
    padding-bottom: 38px;
}
.right-text a{
    background-color: white;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}
/* section card */
.card{
    width: calc(100% / 3);
    float: left;
    padding-right: 82px;
    padding-bottom: 85px;
    padding-top: 53px;
}
.foto img{
    width: 350px;
}
.card h1{
    padding-bottom: 25px;
}
/* section col */
.col-left{
    width: 30%;
    height: 30vw;
    float: left;
}
.col-center{
    width: 40%;
    float: left;
    height: 30vw;
    overflow-y: auto;
    background-color: #f5f5f5;
}
.col-right{
    width: 30%;
    height: 30vw;
    float: left;
}
.quadrato{
    width: 50%;
    height: 50%;
    float: left;
}
.quadrato img{
    width: 7vw;
    line-height: 30vw;
    
}
.col-center img{
    width: 7vw;
    
}
.color1{
    background-color: #a2d39b;
}
.color2{
    background-color: #61082b;
}
.color3{
    background-color: #0093ce;
}
.color4{
    background-color: #ff1c1c;
}
.color5{
    background-color: #d5001f;
}
.color6{
    background-color: #b4d0e7;
}
.color7{
    background-color: #0d2481;
}
.color8{
    background-color: #ffd830;
}
.design img{
    position: relative;
    top: 42%;
    left: 25%;
}
.ari img{
    position: relative;
    top: 38%;
    left: 25%;
}
.asu img{
    position: relative;
    top: 31%;
    left: 26%;
}
.pos img{
    position: relative;
    top: 46%;
    left: 25%;
}
.container img{
    padding-top: 70px;
}
.col-center .container p{
    padding-top: 50px;
}
.contenitore{
    padding-top: 70px;
}
.link{
    padding-top: 20px;
}
.link a{
    color: blue;
}
.btext{
    font-size: 21px;
    padding-top: 110px;
}
.height{
    height: 645px;
}
.btn-right{
    float: right;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.containersmall a{
    text-decoration: none;
    background-color: white;
    color: #000000;
}
.btext.blue{
    background-color: #b4d0e7;
    padding-bottom: 55px;
}
/* footer */
.pad{
    padding-top: 110px;
}
.dropbox{
    width: 19%;
    display: inline-block;
    vertical-align: top;
    color: white;
}
.prodotti{
    width: 19%;
    display: inline-block;
    vertical-align: top;
    color: white;
}
.azienda{
    width: 19%;
    display: inline-block;
    vertical-align: top;
    color: white;
}
.supporto{
    width: 19%;
    display: inline-block;
    vertical-align: top;
    color: white;
}
.community{
    width: 19%;
    display: inline-block;
    vertical-align: top;
    color: white;
}
.dropbox{
    width: 19%;
    display: inline-block;
    vertical-align: top;
    color: white;
}
.foot{
    background-color: #000000;
}
h3{
    padding-bottom: 20px;
}
.container.pad{
    line-height: 27px;
}
.footborder{
    border: 1px solid #4f4f4f;
    width: 100px;
    margin-bottom: 31px;
    margin-top: 56px;
}




.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 120px;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 15px 15px;
        outline: 0;
        border: 0px hidden #ffffff;
        border-radius: 0px;
        background: #000000;
        color: #a9a9a9;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #c6c6c6;
            background: #000000;
        }
        .select select:disabled {
            opacity: 0.9;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 25px;
    width: 6px;
    height: 6px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #bfbfbf;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
.fa-earth-americas{
    color: #7b7b7b;
}