/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    min-width: 1200px;
}

/* utility */
/* btn color #0061ff
background color #b4d0e7 */

/* header */

/* nav */

nav{
    width: 100%;
    margin: 30px;
    position: fixed;
    background-color: white;
    top: 0;
}
.logo{
    display: inline-block;
}
.logo img{
    vertical-align: middle;
}
.left-side{
    display: inline-block;
    text-align: center;
    padding-left: 80px;
}
.left-side a{
    padding-right: 30px;
    color: black;
    text-decoration: none;
}
.right-side{
    float: right;
    text-align: center;
    padding-right: 80px;
}
.right-side a{
    padding-right: 30px;
    color: black;
    text-decoration: none;
}
.right-side a:nth-child(4){
    color: white;
}
.btn{
    background-color: #0061ff;
    text-align: center;
    padding: 7px 30px;
}

/* jumbo */
.jumbo{
    background-color: #b4d0e7;
}